In [1]:
from pymysql import *
import pymysql
import pandas as pd

# 连接参数
host = 'localhost'
port = 3306
user = 'root'
password = 'sft080090'
database = 'movie2'
charset = 'utf8'

In [2]:
from database import *

In [ ]:
get_avg_rating(58)

In [4]:
find_movie_id(58)

,id,title,cast,crew,genres,keywords,vote_count,vote_average
0,58,Pirates of the Caribbean: Dead Man's Chest,"['Johnny Depp', 'Orlando Bloom', 'Keira Knight...",Director:Gore Verbinski,"['Adventure', 'Fantasy', 'Action']","['witch', 'fortune teller', 'bondage']",5246,7.0

In [6]:
find_movie_id(315011)

,id,title,cast,crew,genres,keywords,vote_count,vote_average
0,315011,Shin Godzilla,"['Hiroki Hasegawa', 'Yutaka Takenouchi', 'Sato...",Director:Hideaki Anno,"['Action', 'Adventure', 'Drama']","['monster', 'godzilla', 'giant monster']",143,6.5

In [ ]:
find_movie_title("Shrek Forever After")

In [ ]:
find_user('a')

In [ ]:
# add_user()

In [ ]:
login('a','1')

In [ ]:
find_recommend(58,'c')

In [ ]:
find_recommend_id(155)

In [ ]:
find_recommend_name('a')

In [ ]:
from recommend import *

In [ ]:
get_result('f')

In [ ]:
add_rec_list('sft',[559,1726,10138,19995,36668,127585,76757,99861])

In [ ]:
get_rec_list('b')

In [ ]:
get_browse_list('new user')

In [ ]:
err = add_browse_record('sft_brother',[10138,19995,36668,68721,246655])
print(err)

In [ ]:
db = pymysql.connect(host=host, port=port, user=user, password=password, database=database, charset=charset)

name_df = pd.read_sql('select name from user'.format(id), db)

In [ ]:
name_df

In [ ]:
name_df['name'].values.tolist()

In [ ]:
get_user_colletions('a')

In [11]:
add_rec_list('sft',[559,1726,10138,19995,36668,127585,76757,99861])

0

In [14]:
add_collection('a','1f13dd8c36cbfe7862e95c69379b6fdb')

0

In [1]:
from database import *

In [2]:
get_movie_inlist("1f13dd8c36cbfe7862e95c69379b6fdb")

[559, 1726, 10138, 19995, 36668, 127585, 76757, 99861]

In [15]:
get_user_colletions('a')

['sdafsfsdfsda', '1f13dd8c36cbfe7862e95c69379b6fdb']

In [ ]:
from database import *
search_by_kind('Comedy')

In [13]:
add_user('hyc','080090','1@1.com')
add_administrators('hyc')

0

In [ ]:
find_admin('hyc')