In [4]:
from pymysql import *
import pymysql
import pandas as pd

# 连接参数
host = 'localhost'
port = 3306
user = 'root'
password = 'sft080090'
database = 'movie2'
charset = 'utf8'

In [1]:
from database import *

In [2]:
get_avg_rating(58)

(7.0,)

In [ ]:
find_movie_id(58)

In [ ]:
find_movie_title("Shrek Forever After")

In [ ]:
find_user('a')

In [ ]:
# add_user()

In [ ]:
login('a','1')

In [ ]:
find_recommend(58,'c')

In [ ]:
find_recommend_id(155)

In [ ]:
find_recommend_name('a')

In [ ]:
from recommend import *

In [ ]:
get_result('f')

In [ ]:
add_rec_list('sft',[559,1726,10138,19995,36668,127585,76757,99861])

In [6]:
get_rec_list('b')

[597]

In [ ]:
get_browse_list('new user')

In [ ]:
err = add_browse_record('sft_brother',[10138,19995,36668,68721,246655])
print(err)

In [ ]:
db = pymysql.connect(host=host, port=port, user=user, password=password, database=database, charset=charset)

name_df = pd.read_sql('select name from user'.format(id), db)

In [ ]:
name_df

In [ ]:
name_df['name'].values.tolist()

In [4]:
get_user_colletions('a')

['sdafsfsdfsda']

In [3]:
add_collection('a','sdafsfsdfsda')

In [1]:
from database import *

In [2]:
get_movie_inlist("adfdsfa")

In [3]:
get_user_colletions('a')

['sdafsfsdfsda', 'sadfadsfasdf', 'sadfadsfasdf', 'sadfadsfasdf', 'test']