In [24]:
from pymysql import *
import pymysql
import pandas as pd

# 连接参数
host = 'localhost'
port = 3306
user = 'root'
password = 'sft080090'
database = 'movie2'
charset = 'utf8'

In [25]:
from database import *

In [26]:
find_movie_id(58)

,id,title,cast,crew,genres,keywords,vote_count,vote_average
0,58,Pirates of the Caribbean: Dead Man's Chest,"['Johnny Depp', 'Orlando Bloom', 'Keira Knight...",Director:Gore Verbinski,"['witch', 'fortune teller', 'bondage']","['Adventure', 'Fantasy', 'Action']",5246,7.0

In [27]:
find_movie_title("The Dark Knight")

,id,title,cast,crew,genres,keywords,vote_count,vote_average
0,155,The Dark Knight,"['Christian Bale', 'Heath Ledger', 'Aaron Eckh...",Director:Christopher Nolan,"['dc comics', 'crime fighter', 'secret identity']","['Drama', 'Action', 'Crime']",12002,8.2

In [28]:
find_user('a')

('a', '1', '1@1.com', '[254,597,2268,8487]')

In [29]:
# add_user()

In [30]:
login('a','1')

Successfully logged in!

0

In [31]:
find_recommend(58,'c')

In [32]:
find_recommend_id(58)

   id name    rating comment
0  58    a  4.295792
1  58    b  1.019152
2  58    d  1.048033

In [33]:
find_recommend_name('a')

        id name    rating comment
0       58    a  4.295792
1      285    a  3.088976
2      411    a  4.226588
3      597    a  0.848425
4     1930    a  4.583845
5     2268    a  3.708943
6     2454    a  4.908284
7     2698    a  3.972188
8     5255    a  2.963633
9     8373    a  3.351118
10    9804    a  3.422126
11   10138    a  4.459589
12   10191    a  0.793690
13   10192    a  0.762404
14   10193    a  1.773356
15   10764    a  2.237706
16   15512    a  1.636696
17   17979    a  0.993536
18   27205    a  2.448330
19   36668    a  0.844185
20   38757    a  0.740275
21   47933    a  0.478227
22   58595    a  3.932512
23   62177    a  3.965812
24   64682    a  3.883280
25   72190    a  0.947645
26   76757    a  4.459063
27   79698    a  1.502435
28   82690    a  3.170356
29   91314    a  4.282313
30  102382    a  1.732791
31  127585    a  1.384274
32  135397    a  2.561094
33  137113    a  2.664912
34  188927    a  0.304691
35  206647    a  1.771459
36  209112    a  2.576471
37  246655    a  0.714898
38  258489    a  0.130893
39  271110    a  1.033088
40  278927    a  4.306166

In [34]:
from recommend import *

In [35]:
get_result('f')

FileNotFoundError: [Errno 2] File ./recommend//recommend_model/movie.csv does not exist: './recommend//recommend_model/movie.csv'

In [21]:
add_rec_list('a',[1452])

In [22]:
get_rec_list('a')

[254, 597, 2268, 102382, 1726, 1452]

In [23]:
get_browse_list('a')

NameError: name 'get_browse_list' is not defined

In [ ]:
add_browse_record('sadf',[254,597,2268,8487])